<%
const page = {
  title: 'title',
  keywords: [
    ...(project.keywords || []),
  ],
  description: '',
  styles: [
    ...(project.styles || []),
  ],
  scripts: [
    ...(project.scripts || []),
  ]
}
%>
<!DOCTYPE html>
<%- include('./snippets/ejs/_html-start-tag.ejs') %>
  <head>
    <%- include('./snippets/ejs/_head.ejs', {page}) %>
  </head>
  <body>
    <div class="container">hello <%- env.user || 'world' %>!</div>

    <script src="./project/config.js.ejs"></script>
    <%- include('./snippets/ejs/_polyfill.ejs') %>
    <%- include('./snippets/ejs/_jquery.ejs') %>
    <%- include('./snippets/ejs/_scripts.ejs', {page}) %>
  </body>
<%- include('./snippets/ejs/_html-end-tag.ejs') %>
